<meta name="viewport" content="width=device-width, initial-scale=0.8, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">

<!-- <meta name="viewport" content="width=device-width, initial-scale=0.8"> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=0.9"> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->

