<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>

        <h1>{{ site.title }}</h1>
        
        <img src="{{ site.logo }}" alt="Logo" />
        
        <dl>Department of Management Science</dl>
        <dl><br></dl>
        <dl>Huazhong University of Science and Technology (HUST)<br>
        <dl>华中科技大学<br>
        School of Management<br>
        1037 Luoyu Road<br>
        Wuhan, Hubei Province, 430074, China</dl>
        <dl><br></dl>
        
        <dl>dr.xiaoxia.lei {AT} gmail [DOT] com</dl>
        <dl>(Preferred Email address)
        <dl><br></dl>

        <dl>xiaoxia.lei {AT} hust [DOT] edu [DOT] cn</dl>
        <dl>(Email address @ HUST)
        <dl><br></dl>
          
        <dl>xiaoxia.lei {AT} sjtu [DOT] edu [DOT] cn</dl>
        <dl>(Email address @ SJTU)
        <!-- <dl><br></dl> -->
        
        
        <dl><br></dl>
        <dt><a href="https://scholar.google.com/citations?user=mY4JRaoAAAAJ&hl=zh-CN&oi=sra">Google Scholar</a> | <a href="https://www.ssrn.com/index.cfm/en/" data-proofer-ignore>SSRN</a> | <a href="https://twitter.com/xiaoxialei" data-proofer-ignore>Twitter</a> | <a href="https://bsky.app/profile/xiaoxialei.bsky.social" data-proofer-ignore>Bluesky</a></dt>

        <dl><br></dl>
        <img style="width:400px;height:200px;" src="/assets/img/wordcloud.png"/>

<!--         //<table>
        //  <tr>
        //    <th>Department of Information, Technology and Innovation </th>
        //  </tr>
        //  <tr>
        //    <td>Shanghai Jiao Tong University </td>
        //    <td>Antai College of Economics and Management (ACEM) </td>
        //    <td>1954 Huashan Road </td>
        //    <td>Shanghai, 200030, China </td>
        //  </tr>
        //  <tr>
        //    <td>dr.xiaoxia.lei [AT] gmail [DOT] com </td>
        //  </tr>
        //</table>


        //<table>
        //<tr>
        //  <th><a href="https://scholar.google.com/citations?user=mY4JRaoAAAAJ&hl=zh-CN&oi=sra">Google Scholar</a> | <a href="https://www.ssrn.com/index.cfm/en/" data-proofer-ignore>SSRN</a> | <a href="https://twitter.com/xiaoxialei" data-proofer-ignore>Twitter</a> </th>
        // </tr>
        //</table> -->



<!--     //    <p class="addr">
    //      Department of Information, Technology and Innovation <br>
    //      Shanghai Jiao Tong University <br>
    //      Antai College of Economics and Management (ACEM) <br>
    //      1954 Huashan Road <br>
    //      Shanghai, 200030, China <br>
    //      dr.xiaoxia.lei [AT] gmail [DOT] com <br>
    //    </p>

    //    <p>
    //      <a href="https://scholar.google.com/citations?user=mY4JRaoAAAAJ&hl=zh-CN&oi=sra">Google Scholar</a> | <a href="https://www.ssrn.com/index.cfm/en/" data-proofer-ignore>SSRN</a> | <a href="https://twitter.com/xiaoxialei" data-proofer-ignore>Twitter</a>
    //    </p> -->

      </header>
      <section>
        {{ content }} 
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
